@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-display: swap;
}